/* Error: @use rules must be written before any other rules.
 *   ,
 * 2 | @use "vuetify/settings";
 *   | ^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   settings.scss 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: @use rules must be written before any other rules.\a   \2577 \a 2 \2502  @use "vuetify/settings";\a   \2502  ^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   settings.scss 2:1  root stylesheet';
}
